In [1]:
import pandas as pd
import numpy as np
import umap

In [4]:
pip install umap

In [2]:
df=  pd.read_csv('Combined.csv')

In [3]:
def check_null_values(df):
    if df.isnull().any().any():
        print(df.isnull().any())
    else:
        print('No null values present in Dataset')

In [4]:
check_null_values(df)

No null values present in Dataset

In [5]:
df = df.filter(['Non-Cash Items', 'Other Non-Cash Adjustments', 
'(Increase) Decrease in Accounts Receivable', 'Increase (Decrease) in Accounts Payable', 
'Cash from Operating Activities', 'Decrease in Long Term Investment', 'Increase in Long Term Investment', 
'Net Cash From Acquisitions & Divestitures', 'Net Cash from Other Acquisitions', 
'Cost of revenue', 'Gross Profit', 
'Operating Expenses', 'Selling, General & Administrative', 
'Operating Income (Loss)', 'Pretax Income (Loss), Adjusted', 
'Pretax Income (Loss)', 'Income Tax (Expense) Benefit, net', 
'Inventories', 'Total Noncurrent Assets', 
'Other Payables & Accruals', 'Long Term Debt', 
'Market Cap', 'EBITDA', 
'P/S Ratio', 'EV/Sales' ], axis = 1)

In [6]:
df.head()

,Non-Cash Items,Other Non-Cash Adjustments,(Increase) Decrease in Accounts Receivable,Increase (Decrease) in Accounts Payable,Cash from Operating Activities,Decrease in Long Term Investment,Increase in Long Term Investment,Net Cash From Acquisitions & Divestitures,Net Cash from Other Acquisitions,Cost of revenue,...,Pretax Income (Loss),"Income Tax (Expense) Benefit, net",Inventories,Total Noncurrent Assets,Other Payables & Accruals,Long Term Debt,Market Cap,EBITDA,P/S Ratio,EV/Sales
0,0.008908,0.000000,0.000000,0.000000,0.096639,0.000000,0.000000,-0.038448,0.000000,-0.178799,...,0.050214,-0.009667,0.051138,0.531574,0.105744,0.175824,0.949262,0.090306,2.464095,3.470773
1,0.016189,0.000000,0.000000,0.000000,0.084283,0.000000,0.000000,-0.010292,0.000000,-0.032679,...,-0.012343,0.041433,0.004323,0.004127,0.095518,0.208593,2.150891,0.074677,7.806953,8.901597
2,0.005796,0.000000,0.000000,0.000000,0.138174,0.000000,0.000000,-0.027346,0.000000,-0.159148,...,0.099906,0.447670,0.247216,0.545441,0.459235,0.000000,1.540101,0.149695,4.360770,6.903300
3,0.017712,0.000000,0.000000,0.000000,-0.001624,0.000000,0.000000,-0.037779,0.000000,0.021011,...,0.669993,-0.629495,0.026524,0.078382,0.327598,0.178388,5.538628,0.156172,2.330952,2.533127
4,0.022980,0.038138,1.074696,0.303534,0.016370,1.074215,-0.439147,-0.131830,0.171647,-0.009989,...,0.016366,-0.000382,0.001246,0.236198,0.020635,0.107286,2.647613,0.249469,0.925322,1.184769

In [5]:
k_df = df.drop(['time','name'] , axis =1)

In [7]:
from sklearn.cluster import KMeans

In [8]:
X_class = np.array(df.iloc[:, :])

In [9]:
 	# end index is exclusive

k_mean = KMeans()

In [10]:
#number of clusters will be decided by K-mean++ , by default 
k_mean_model = k_mean.fit(X_class)

In [11]:
print("Number of clusters",k_mean_model.n_clusters)

Number of clusters 8

In [12]:
# df_cluster = df.drop(['CLASS'], axis=1)

# #Selecting features from dataframe , there are 6 features 
X_cluster = np.array(df.iloc[:, :])

y_pred = k_mean_model.predict(X_cluster)

pred_df = pd.DataFrame({'labels': y_pred})

In [11]:
df.shape

(1872, 311)

In [15]:
pred_df

    labels
0        0
1        0
2        0
3        3
4        0
5        0
6        7
7        0
8        6
9        5
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       2
34       0
35       0
36       0
37       4
38       0
39       0
40       0
41       0
42       1
43       0
44       0
45       0
46       0
47       0
48       0
49       0
50       0
51       0

In [13]:
pred_df

    labels
0        0
1        7
2        7
3        0
4        5
5        7
6        6
7        0
8        5
9        7
10       0
11       5
12       5
13       5
14       5
15       0
16       5
17       4
18       5
19       5
20       0
21       7
22       5
23       5
24       0
25       0
26       0
27       5
28       3
29       0
30       5
31       0
32       0
33       0
34       0
35       6
36       1
37       0
38       0
39       5
40       5
41       0
42       2
43       5
44       5
45       0
46       5
47       0
48       5
49       5
50       5
51       5